<%- include('includes/head.ejs', {username: username}) %>
<div class="box m-6">
    <h1 class="title">7 Rings</h1>
    <section>
      <p> 
      <br>Yeah
      <br>Breakfast at Tiffany's and bottles of bubbles
      <br>Girls with tattoos who like getting in trouble
      <br>Lashes and diamonds, ATM machines
      <br>Buy myself all of my favorite things

      <br><br>Yeah
      <br>Been through some bad shit, I should be a sad bitch
      <br>Who would have thought it'd turn me to a savage?
      <br>Rather be tied up with calls and not strings
      <br>Write my own checks like I write what I sing, yeah (Yeah)

      <br><br>My wrist, stop watchin'
      <br>My neck is flossy
      <br>Make big deposits
      <br>My gloss is poppin'

      <br><br>You like my hair?
      <br>Gee, thanks! Just bought it
      <br>I see it, I like it
      <br>I want it, I got it
      <br>Yeah

      <br><br>I want it, I got it
      <br>I want it, I got it
      <br>I want it, I got it
      <br>I want it, I got it

      <br><br>You like my hair?
      <br>Gee, thanks! Just bought it
      <br>I see it, I like it
      <br>I want it, I got it
      <br>(Yep)

      <br><br>Wearin' a ring but ain't gon' be no "Mrs."
      <br>Bought matching diamonds for six of my bitches
      <br>I'd rather spoil all my friends with my riches
      <br>Think retail therapy my new addiction

      <br><br>Whoever said money can't solve your problems
      <br>Must not have had enough money to solve 'em
      <br>They say, "Which one?" I say, "Nah, I want all of 'em"
      <br>Happiness is the same price as "red-bottoms"

      <br><br>My smile is beamin' (yeah)
      <br>My skin is gleamin' (is gleamin')
      <br>The way it shine
      <br>I know you've seen it
      <br>You've seen it

      <br><br>I bought a crib
      <br>Just for just for the closet closet
      <br>Both his and hers
      <br>I want it, I got it
      <br>Yeah

      <br><br>I want it, I got it
      <br>I want it, I got it
      <br>I want it, I got it
      <br>I want it, I got it
      <br>Baby

      <br><br>You like my hair?
      <br>Gee, thanks! Just bought it
      <br>Oh, yeah
      <br>I see it, I like it
      <br>I want it, I got it
      <br>Yep

      <br><br>Yeah, my receipts be lookin' like phone numbers
      <br>If it ain't money, then wrong number
      <br>Black Card is my business card
      <br>The way it be settin' the tone for me

      <br><br>I don't mean to brag
      <br>But I be like, "Put it in the bag"
      <br>Yeah
      <br>When you see them racks
      <br>They stacked up like my ass
      <br>Yeah

      <br><br>Shoot
      <br>Go from the store to the booth
      <br>Make it all back in one loop
      <br>Gimme the loot
      <br>Never mind, I got the juice
      <br>Nothin' but net when we shoot

      <br><br>Look at my neck
      <br>Look at my jet
      <br>Ain't got enough money to pay me respect
      <br>Ain't no budget when I'm on the set
      <br>If I like it then that's what I get
      <br>Yeah

      <br><br>I want it, I got it
      <br>I want it, I got it
      <br>(Oh yeah)
      <br>Yeah
      <br>I want it, I got it
      <br>I want it, I got it
      <br>Oh, yeah, yeah

      <br><br>You like my hair?
      <br>Gee, thanks! Just bought it
      <br>I see it, I like it
      <br>I want it, I got it
      <br> (I see, yep)
      </p>
      </section>

<%- include('includes/foot.ejs') %>

