body {
  margin: 0 auto;
  max-width: 55em;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #474242;
}

h2 {
  margin-top: 0.5em;
  padding-top: 0.5em;
}

h2,
strong {
  color: #600089;
}

a {
  color: #d79be7;
}

h1{
  color:#2e054d;
}

footer{
  color:rgb(13, 0, 21);
}

.protocolo{
  color: #80bfda;
}

.dominio{
  color:#8083da;
}

.ruta{
  color:#a280da;
}

.class{
  color:#a280da;
}

.parametros{
  color: #cb80da;
}

.ancla{
  color: #da80c7;
}

.ejemplo{
  color:#a280da;
}

#canciones{
  color:#2e054d
}