<footer>
    <br>
    <em>You drew stars around my scars and now I'm bleeding...</em><br>
    Emilio Leví Díaz Abarde<br>
    A01620887<br>
    A01620887@TEC.MX<br>
    Visual Studio Code <br>
    https://github.com/produce101levi/minecraft
</footer>
</div>
        
</body>
        
</html>