<%- include('includes/head.ejs', {username: username}) %>

<h1 class="title">Bienvenido</h1>
<form action="/users/login" method="POST">
    <label class="label" for="username">Nombre de usuario</label>
    <input name="username" id="username" type="text" class="input"><br>
    <label class="label" for="password">Contraseña</label>
    <input name="password" id="password" type="password" class="input"><br><br>
    <input class="button is-success" type="submit" value="Entrar">
</form>

<%- include('includes/foot.ejs') %>